@page "/aboutus"
@layout MainLayout

<style>
    body {
        background-color: #f4f4f4;
        color: #333;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #3498db;
        text-align: center;
        padding-top: 50px;
    }

    .content-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .about-section {
        margin-top: 20px;
    }

    .numbered-section {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .number-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #3498db;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin-right: 10px;
    }
</style>

<h1>Modern Baggage Messaging</h1>

<div class="content-container">
    <p>Shabstec has over 25 years of experience in delivering products and services to the aviation industry. We specialize in helping airports digitize and optimize baggage system performance. Our cloud-based product solutions empower clients to deliver exceptional services at very affordable prices.</p>

    <div class="about-section">
        <div class="numbered-section">
            <div class="number-circle">01</div>
            <div>
                <h3>Baggage Domain Experts</h3>
                <p>Experienced at delivering to some of the world's busiest Airports / Airlines.</p>
            </div>
        </div>

        <div class="numbered-section">
            <div class="number-circle">02</div>
            <div>
                <h3>Disruptive Innovation</h3>
                <p>We are thought leaders in applying better ways of solving everyday problems.</p>
            </div>
        </div>

         <div class="numbered-section">
            <div class="number-circle">03</div>
            <div>
                <h3>
                    Value For Money
                </h3>
                <p>
                    Our competitive value proposition means you don’t pay high-end consulting fees.                     
                </p>
            </div>
        </div>

         <div class="numbered-section">
            <div class="number-circle">04</div>
            <div>
                <h3>Client Focused</h3>
                <p>This customer is at the heart of everything we do.</p>
            </div>
        </div>
    </div>
</div>
